/*! default extra styles no changes */
#img-container {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: left;
}

#lens {
    z-index: 2;
    position: absolute;
    height: 125px;
    width: 125px;
    border: 2px solid black;
    background-repeat: no-repeat;
    cursor: none;
}
